.counter {
    background-color: transparent;
    border: 1px solid rgb(107, 107, 107);
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
}

.btn-counter {
    color: white;
}

.btn-counter:hover {
    color: rgb(236, 218, 57);
}

.clock {
    width: 14%;
    text-align: center;
    color: rgb(236, 218, 57);
}