* {
    box-sizing: border-box;
}

.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    bottom: 0;
    background-color: #ffffff1a;
    text-align: center;
}

.sidebar-item a {
    display: block;
    padding: 15px 50px;
    color: white;
    text-decoration: none;
}

.sidebar-item a:hover {
    background-color: #2222229a;
}

.sidebar-item li:first-child() a {
    margin-top: 10px;
}