* {
    box-sizing: border-box;
}

.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    bottom: 0;
    background-color: #4b4b4b;
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
}

.sidebar-item a {
    padding: 15px 50px;
    color: white;
}

.sidebar-item a:hover {
    background-color: #2222229a;
}

.sidebar-item li:first-child() a {
    margin-top: 10px;
}

.sidebar-btn a {
    margin: 10px auto;
    padding: 10px 0;
}

.sidebar-input {
    margin: 10px 0;
}

.sidebar-input input::placeholder {
    color: #fff;
}

.sidebar-input input:focus {
    outline: none;
}

.sidebar-input input {
    width: 80%;
    height: 25px;
    display: inline-block;
    background-color: #747070;
    border: 0;
    color: #fff;
}