.profile-container {
    width: 80%;
    margin: 30px auto 30px 190px;
}

.avatar-container {
    background-color: #ffffff1a;
    margin: 0 0 20px 0;
    padding: 15px;
    width: 100%;
    height: 200px;
    display:flex;
    border-radius: 20px;
}

.profile-avatar {
    border-radius: 0;
}

.avatar-img {
    width: 20%;
    background-color: #ffffff1a;
    height: 100%;
    position: relative;
}

.avatar-content {
    // background-color: #ffffff1a;
    margin: 0 0 0 10px;
    width: 80%;
}

.avatar-username {
    font-size: 30px;
    color: #fff;
    padding: 20px;
}

.avatar-img .input-file {
    position: absolute;
    bottom:0;
    right: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff71;
    color: #3e49ee;
}

.input-file #avatar {
    display: none;
}

.avatar-img:hover .input-file .label-avatar {
    padding: 5px;
    text-align: center;
    display:block;
    animation-name: popup;
    animation-duration: 0.1s;
}

.input-file .label-avatar {
   display: none;
}

@keyframes popup {
    from{
        padding: 0px;
    }
    to {
        padding: 5px;
        display: block;
    }
}

img {
    width: 100%;
    height: 100%;
    background-color: yellow;
}

.information-container {
    border-radius: 25px 25px 0 0;
    margin: 20px 0;
}

.information-title {
    color: #fff;
    background-color: rgb(45, 59, 255);
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.information-content {
    background-color: #ffffff1a;
}

.information-form {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 10px 0;
    
}

.input-form-container {
    display: flex;
    align-items: baseline;
}

.input-form {
    margin: 10px 0 0 10px;
    padding: 5px 10px;
    font-size: 20px;
    width: 100%;
    height: 40px;
    line-height: 1;
    border: 1px solid rgba(94, 94, 94, 0.315);
    border-radius: 5px;
    background-color: #ffffff1a;
    color: white;
}

.input-field {
    width: 100%;
    display:flex;
    flex-direction: column;
}

.error-msg{
    color: rgba(253, 59, 59, 0.808);
    margin: 0 0 0 10px;
}

.label-form {
    width: 20%;
    font-size: 18px;
    color: white;
}

.btn-form {
    padding: 15px 15px;
    margin: 10px 5px 5px auto;
    background-color: #a7a7a7d0;
    color: #fff;
    border: 0;
    border-radius: 10px;
    width: 15%;
    cursor: pointer;
}

.btn-form:disabled {
    background-color: #475a2a;
}

.btn-form-save:disabled:hover {
    border: 0;
    box-shadow: none;
}

.btn-form:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #a7a7a7d0;
    border-radius: 10px;
}

.btn-form-save:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #a3d160;
    border-radius: 10px;
}

.btn-form-save {
    background-color: #81b64c;
}

@for $w from 1 through 10 {
    $width: #{$w * 10};
    .w-#{$width}{
        width: #{$width + "%"};
    }
}
    

        

