.verify__container {
    width: 100%;

    .verify__title {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0;
        color: #fff;
    }

    .verify__form {

        .verify__input {
            display: flex;
            align-items: center;

            .textbox__container{
                width: 90%;
                margin: 0 10px 0;
                input {
                    background-color: #d4d4d4;
                    color: #414141;

                    &:hover {
                        background-color: #acc9ff;
                        border: 1px solid #2f3ba1;
                        box-shadow: 0px 4px #2f3ba1 !important;
                    }

                    &:focus {
                        background-color: #d4d4d4;
                        border: none;
                        box-shadow: 0px 4px #666666 !important;
                    }
                }
            }

            .counter__container {
                width: 10%;
            }
        }
    }

    #back {
        background-color: #969696;
    }

    .verify__button {
        button {
            display: block;
            margin: 10px auto;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .back__button {
        button {
            display: block;
            margin: 10px auto;
        }
    }
}